<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/livraria</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>
	</session-factory>
	
	/*
	<session-factory>
		<property name="dialect">org.agiledev.core.SQLServerDialect</property> 
		<property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:jtds:sqlserver://localhost:1433/livraria</property>
		<property name="hibernate.connection.username">teste2</property>
		<property name="hibernate.connection.password">teste2</property>
	</session-factory>
	*/
</hibernate-configuration>
